h1 {
    /*Grows more quickly,
    allowing for wider variation on larger screens*/
    font-size: calc(20px + 1vw);
}

h2 {
    /*Based on the inherited text-size,
    and therefor growing at the same rate*/
    font-size: 1.2em;
}

h3 {
    /*Based on the inherited text-size,
    and therefor growing at the same rate*/
    font-size: 1em;
}

h1, h2, h3 {
    font-weight: bold;
}

h1, h2, p {
    margin: 1em .2em 0 .2em;
}

table, .table {
    /*empty-cells: show;*/
    max-width: 95vw;
    margin: 5vh auto 0 auto;
}

.row {
    opacity: 1;
    transition: all 1s ease-in;
}

td, .td {
    max-width: 45vw;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.AGBackPic {
    will-change: z-index;
    /*opacity: .8;*/
    right: 5vw;
    top: 5vh;
    margin-left: 15vh;
    width: 40vmin;
    margin-top: 5vh;
    /*margin-right: 40px;*/
    transition: all 2s;
}

.AGFormField {
    height: 18px;
    background-color: cornsilk;
    width: 80%;
    /*opacity: 1;*/
    /*transition: all 1s ease-out;*/
}

.AGFormField.Per {
    background-color: rgba(99, 150, 199, 0.57);
    user-select: none;
    /*width: 80%;*/
    /*vertical-align: center;*/
    font-size: larger;
    user-select: none;
    user-focus: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.AGIndexBack {
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    height: 150vh;
    width: 100%;
    background-color: #71895c;
    z-index: 1;
}

.AGMain {
    position: absolute;
    margin: 25vmax auto 0 auto;
    /*height: 100%;*/
    width: 100%;
    background-color: gainsboro;
    /*color: aliceblue;*/
}

.AGMap {
    max-width: 80vw;
}

.AGRadio {
    width: 100%
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App {
    text-align: center;
}

.App-intro {
    font-size: large;
}

.backPic {
    opacity: .8;
    right: 5vw;
    top: 5vh;
    margin-left: 15vh;
    width: 40vmin;
    margin-top: 5vh;
    /*margin-right: 40px;*/
}

.blink {
    animation: blinker 1s linear infinite;
}

/*FASTER */
.shade {
    will-change: box-shadow, transition; /*keep here*/
    box-shadow: #343434 0 0 0 0; /*psy*/
    /*box-shadow: #8e8a2d 1vw 1vh .1vmax; !*mma*!*/
}

/*FASTER */
.shade:hover {
    will-change: box-shadow, transition; /*keep here*/

    box-shadow: #343434 1vw 1vh 1vmin; /*psy*/
    /*box-shadow: #343434 2vw 2vh 1vmin .1vmax; !*mma*!*/
}

.shade:active {
    will-change: filter, drop-shadow, transition; /*keep here*/

    filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
    -webkit-filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
}


/*SLOWER keep small + use integers*/
.shadow {
    will-change: filter, drop-shadow, transiton; /*keep here*/

    filter: drop-shadow(1vw 1vh #343434); /*SLOWER*/
    -webkit-filter: drop-shadow(0 0 #343434); /*SLOWER*/
}

.shadow:hover {
    will-change: filter, drop-shadow, transition; /*keep here*/

    filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
    -webkit-filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
}

.shadow:active {
    will-change: filter, drop-shadow, transition; /*keep here*/

    filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
    -webkit-filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
}

.top {
    background-color: rgba(161, 161, 161, 0.81);
    height: 20vmin;
    width: 100%;
    max-width: 85vw;
    top: 0;
    /*padding: 20px;*/
    /*color: white;*/
    position: fixed;
    z-index: 5;
    padding: 2vh; /*TODO: improve*/
}

.topBack {
    /*width: 100%;*/
    height: 100%;
    right: 5vw;
    position: absolute;
    z-index: 6;
}

.topLogo {
    width: 20vmin;
    position: absolute;
    left: 5vw;
    top: 5vh;
    opacity: .6;
    z-index: 8;
    transition: all 1s;
    will-change: auto;
}

.topLogo.clockwise {
    animation: App-logo-spin infinite 20s linear;
}

.topLogo.unclockwise {
    animation: App-logo-spin2 infinite 20s linear;
}

.topTitle {
    will-change: transform; /*keep here*/
    margin: 3vmin;
    /*font-family: "Patua One", normal, sans-serif;*/
    font-family: "Baskerville", normal, sans-serif;

    /*font-size: 50px;*/
    line-height: 58px;
    letter-spacing: 0;
    font-style: normal;
    color: #009750;
    /*width: 100%;*/
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: all 1s ease-out;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
